new.html.erb

<div id="map"></div>
<div id='pop-up-side'>
   <form id="popup" class="popup-text hidden">
      <input type="search" id="popup-box" placeholder="About this location">
      <input type="submit" value="Enter">
   </form>
</div>
