<h2><%= @map.title %></h2>
<p>**Draw on this map as much as you want! Make it yours.</p>
<p>For now, only MARKERS will be saved with your map!**</p>
<div id="map" rid="<%= @map.id %>"></div>
<div id='pop-up-side'>
   <form id="popup" class="popup-text hidden">
      <input type="search" id="popup-box" placeholder="About this location">
      <input type="submit" value="Enter">
   </form>
</div>


