/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

   body { margin:20; padding:20; }
   #map{ width: 900px; height: 500px; }
   #pop-up-side { position: fixed; top: 10px; left: 1000px; margin: 30px; }
   .hidden { display: none; }

   header {
    background-color: 242942;
   }

   header.app_name {
    font-size: 48px;
   }

   body {
    background-color: 242942;
    color: white;
    font-family: 'Economica', sans-serif;
   }

   footer {
    background-color: white;
   }

   .footer_logo { float: left;}
